.StudentUser {
    &__header {
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }
    &__headerContent {
        height: 425px;
        position: relative;
    }
    &__info {
        position: absolute;
        bottom: 0;
        left: calc(50% - 89px);
        box-sizing: border-box;
    }
    &__infoContent {
        position: relative;
        display: flex;
        flex-direction: column;
        & p {
            font-size: 32px;
            font-weight: bold;
            padding-top: 16px;
            margin: 0;
            text-align: center;
        }
        & img {
            width: 158px;
            border: 5px solid #ffffff;
            height: 158px;
            margin: 0;
            background-color: #bdbdbd;
            border-radius: 50%;
        }
        & button {
            position: absolute;
            top: 53%;
            right: 18%;
            width: 48px;
            height: 48px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.6);
            border: none;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            transform: translateX(50%);
            background-color: #9e9e9eab;
            -webkit-transform: translateX(50%);
            padding: 0;
        }
    }
    &__btnIcon {
        width: 24px;
        height: 24px;
        opacity: 0.6;
    }
    &__btnRevise {
        & button {
            position: absolute;
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            right: 0;
            bottom: 20%;
            padding: 6px 8px;
            font-weight: 600;
            text-transform: none;
            color: rgb(63, 81, 181);
            background-color: hsla(0, 0%, 100%, 0.8);
        }
    }
    &__headerActions {
        position: relative;
        background-color: #fff;
        display: flex;
        height: 48px;
        font-size: 14px;
        border-top: 1px solid #9e9e9e;
        & button {
            color: rgba(0, 0, 0, 0.6);
            width: 35%;
            font-weight: 700;
            background-color: transparent;
            padding: 6px 12px;
            border: none;
            border-radius: 0;
        }
        & button:focus {
            border-bottom: 2px solid rgb(63, 81, 181);
            color: rgb(63, 81, 181);
            outline: none;
        }
        & button:hover {
            background-color: rgb(224, 224, 224);
            color: rgb(63, 81, 181);
        }
        &.active {
            border-bottom: 2px solid rgb(63, 81, 181);
            color: rgb(63, 81, 181);
            background-color: rgb(240, 242, 245);
        }
    }
    &__blogs {
        display: flex;
    }
    &__blog {
        width: 70% !important;
    }
    &__blog .StudentUser__anotherBlog {
        margin-right: 15px;
    }
    &__anotherBlogs {
        width: 30% !important;
    }
    &__anotherBlog {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #e1e1e1;
        margin: 15px 0 15px 0;
        & h2 {
            margin: 10px 10px 0 10px;
        }
    }
    &__btnEdit {
        padding: 6px 16px !important;
        width: 5% !important;
        &.active,
        &:focus {
            border-bottom: none !important;
            color: rgb(66, 66, 66) !important;
            background-color: rgb(240, 242, 245);
        }
        &:hover {
            background-color: rgb(224, 224, 224);
            color: rgb(66, 66, 66) !important;
        }
    }
    &__editIcon {
        width: 24px;
        height: 24px;
    }
    &__editOptions {
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: #fff;
        top: 49px;
        right: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    &__editOptions.show {
        display: flex;
    }
    &__editOption {
        width: 100% !important;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 16px;
        background-color: transparent;
        border: none;
        text-align: left;
        font-size: 16px;
        font-weight: 500 !important;
        color: #000000d4 !important;
        cursor: pointer;
        &:hover,
        &:focus,
        &.active {
            background-color: #f0f2f5;
            border: none !important;
            outline: none;
            transition: all 0.5s ease;
        }
        & span {
            flex: 1;
        }
    }
}
