.header {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-bottom: 3px solid #eff2f5;
    z-index: 999;

    .header-container {
        display: flex;
        justify-content: space-between;


        .header-left {
            display: flex;
            gap: 1rem;
            padding-top: 3px;

            .header-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;


                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .header-search {
                background-color: #f2f2f2;
                height: 40px;
                padding: 0px 25px;
                width: 90%;
                border-radius: 25px;
                display: flex;
                justify-content: flex-start;


                .search-icon {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                }

                .text-search {
                    border: none;
                    background-color: #f2f2f2;
                    outline: none;
                    width: 90%;
                    height: 40px;
                }

                &:focus-visible {
                    outline: none;
                }


            }
        }

        .header-nav {
            display: flex;
            overflow: hidden;
            min-height: 48px;
            flex-grow: 2;
            justify-content: center;
            // width: 100%;

            .action-btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                outline: 0px;
                cursor: pointer;
                margin: 0;
                border: 0;
                user-select: none;
                border-radius: 0px;
                vertical-align: center;
                max-width: 264px;
                position: relative;
                min-height: 48px;
                padding: 6px 12px;
                color: rgba(0, 0, 0, 0.6);
                text-align: center;
                min-width: 160px;

                .wrap-icon {
                    display: inline-flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    width: 100%;
                    flex-direction: column;
                }
            }
        }

        .header-right {
            display: flex;
            justify-content: center;
            align-items: center;

            .header-user {
                margin-right: 5px;
                border-radius: 30px;
                outline: none;
                border: 0;
                background-color: transparent;

                span {
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    .wrap-avatar {
                        width: 32px;
                        height: 32px;
                        margin-right: 5px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            color: transparent;
                            text-align: center;
                        }


                    }

                    p {
                        color: #000000DE;
                        margin: 0 5px;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                }

                &:hover {
                    background-color: #e7e7e7 !important;
                    ;
                }
            }



            .action-btn {
                width: 40px;
                height: 40px;
                margin: 0px 3px;
                background-color: #e0e0e0;
                outline: none;
                border: 0px;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                user-select: none;
                text-align: center;
                font-size: 1.5rem;
                color: rgba(0, 0, 0, 0.54);
                padding: 12px;
                border-radius: 50%;


                span {
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                }

                &:hover {
                    background-color: #e7e7e7 !important;
                    ;
                }
            }
        }
    }


}

.quick-add-menu {
    animation: slideInFromRight 0.3s ease-out;
    position: absolute;
    right: 628px;
    top: 98%;
    margin-top: 8px;
    min-width: 400px;
    max-width: 500px;
    height: 100%;
    border-right: 1px solid #ccc;

    .scroll-bar {
        background: white;
        max-height: 100vh;
        height: auto;
        overflow-y: auto;
        // padding-bottom: 30px;
        padding: 10px 10px 50px 10px;


        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: transparent; // ✅ Trong suốt mặc định
            border-radius: 4px;
        }

        // ✅ Khi hover vào sidebar: Hiện thanh cuộn
        &:hover::-webkit-scrollbar-thumb {
            background: #bcc0c4;
        }

        // ✅ Khi hover vào chính thanh cuộn
        &::-webkit-scrollbar-thumb:hover {
            background: #8a8d91;
        }

        // ✅ Cho Firefox (chỉ hiện khi hover)
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;

        &:hover {
            scrollbar-color: #bcc0c4 transparent;
        }

        h3 {
            text-align: left !important;
        }

        .item-btn {
            height: 100%;
            border: 1px solid #ccc !important;
            border-radius: 10px;
            display: flex;
            width: 100%;
            align-items: center;
            gap: 10px;
            padding: 25px 16px;
            text-align: left;
            cursor: pointer;
            transition: background-color 0.2s;
            background-color: white;
            margin-bottom: 20px;

            .icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgb(189, 189, 189);
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    color: white !important;
                }
            }
        }

        .box-search{
            display: flex;
            position: relative;
            padding: 0px;
            input{
                // outline: none;
                border: 1px solid #ccc;
                background-color: #fff;
                width: 100%;
                border-radius: 20px;
                padding: 5px 15px;
                position: relative;
                &:focus-visible{
                    outline: none;
                    border: none;

                }
            }

            .icon-search{
                position: absolute;
                right: 28px;
                top: 17px;
            }

        }
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// MUI 
.dialog-override{

    .css-miol5-MuiPaper-root-MuiDialog-paper{
        max-width: 400px !important;
    }
}

.wrap-input{
    display: flex;
    justify-content: space-between !important;

}

