.LinkItem {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px 16px;
    color: #000;
    height: 52px !important;
    display: flex;
    justify-content: start;
    align-items: center;

    &__icon {
        width: 36px;
        height: 36px;
        margin-right: 20px;
    }
    &__icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__label {
        font-size: 1.6rem;
        font-weight: 600;
        flex: 1;
    }
    &:hover {
        background-color: #c7c7c732;
        color: #000;
    }
    &:focus {
        background-color: inherit;
        color: #000;
    }
}
