.HeaderStudent {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
    border-bottom: 3px solid rgb(239, 242, 245);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    height: 48px;
    &__SearchLogo {
        display: flex;
        padding: 4px 10px 4px 20px;
        gap: 10px;
    }
    &__Logo {
        width: 40px;
        height: 40px;

        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__Search {
        display: flex;
        padding: 2px 25px;
        border-radius: 25px;
        background-color: #f2f2f2;
        justify-content: center;
        align-items: center;
        & input {
            width: 204px;
            border: none;
            background-color: transparent;
        }
    }
    &__SearchIcon {
        width: 26px;
        height: 26px;
    }
    &__MainFeature {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    &__Feature {
        min-width: 136px;

        height: 100%;
        padding: 6px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        & a {
            height: 22px;
        }
    }
    &__LinkIcon {
        width: auto;
        height: 28px;
        color: rgba(0, 0, 0, 0.6);
    }

    &__SupportFeature {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__AvatarUser {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 12px;
        background-color: transparent;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        & .HeaderStudent__Name {
            font-weight: 700;
        }
    }
    &__Avatar {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 1px solid #000000;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
