.NavbarStudent {
    position: fixed;
    top: 52px;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 16px 8px 0 0;
    width: 16vw;
    height: calc(100vh - 52px);
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: transparent;
    &:hover{
        overflow-y: auto;
    }
    &::after {
        content: '';
        display: block;
        height: 20px;
        flex-shrink: 0;
    }
    & a:first-child img {
        border-radius: 50%;
    }
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #999;
    }

    & p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
            'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 18px;
        font-weight: 700;
        font-size: 1.6rem;
        color: rgb(101, 103, 107);
    }
    & hr {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        margin: 0 0 0 18px;
        width: auto;
    }
}
