.StudentClassItem {
    font-family: Roboto, sans-serif;
    &__headerImage {
        width: 100%;
        height: 348.141px;
        max-width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__headerContainer {
        background-color: #fff;
    }
    &__headerActions {
        display: flex;
        height: 48px;
        font-size: 1.4rem;
        & button {
            color: rgba(0, 0, 0, 0.6);
            width: 20%;
            font-weight: 600;
            background-color: transparent;
            padding: 6px 12px;
            border: none;
            border-radius: 0;
        }
        & button:focus {
            border-bottom: 2px solid rgb(63, 81, 181);
            color: rgb(63, 81, 181);
            outline: none;
        }
        & button:hover {
            // border-bottom: 2px solid rgb(224, 224, 224);
            background-color: rgb(224, 224, 224);
            color: rgb(63, 81, 181);
        }
        &.active {
            border-bottom: 2px solid rgb(63, 81, 181);
            color: rgb(63, 81, 181);
            background-color: rgb(240, 242, 245);
        }
    }
    &__headerTitle {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        & h2 {
            font-size: 3.2rem;
            margin: 0;
            font-weight: 700;
        }
    }
    &__headerSupplement {
        display: flex;
        align-items: center;
        gap: 4px;
        & p {
            margin: 0;
        }
    }
    &__homework,
    &__files {
        text-align: center;
        background-color: #fff;
        margin: 15px 0 20px 0;
        border-radius: 5px;
        & img {
            width: auto;
            object-fit: contain;
            margin: 0 auto 20px auto;
        }
    }
    &__files {
        text-align: start;
        padding: 10px;
        & h2 {
            margin: 0;
            font-size: 2.4rem;
            font-weight: bolder;
        }
        margin-bottom: 0;
    }
    &__noFile {
        margin: 20px auto 0 auto;
        color: rgba(0, 0, 0, 0.614);
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    &__filesIcon {
        width: auto;
        height: 128px;
    }
}
