.UserBlog {
    &__anotherBlogContents {
        color: rgba(0, 0, 0, 0.6);
        padding: 8px 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__anotherBlogContent {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 2px 16px;
        & p {
            margin: 0;
            font-size: 14px;
        }
    }
    &__anotherBlogIcon {
        font-size: 19px;
    }
}