.StudentSpace {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    &__main {
        display: flex;
    }
    &__mainSide {
        width: 60%;
        padding: 0px;
        margin: 0px auto;
        max-width: 680px;
    }
    &__subSide {
        width: 18%;
    }
}
