.HeaderAndNavbar {
    background-color: rgb(241, 242, 245);
    width: 100vw;
    overflow-x: hidden;
    &__Container {
        display: flex;
        width: 100%;
        min-height: 100vh;
        margin-top: 52px;
    }

    &__Content {
        flex: 1;
        margin-left: 16vw;
        padding: 8px;
        display: flex;
        //
        justify-content: center;
    }
    &__ContentWrapper {
        width: 85%;
    }
}
html {
    // overflow-y: hidden;
}
body {
    overflow-x: hidden;
    padding: 0;
}
