.avatar-container{
    position: absolute;
    bottom: 16%;
    left: 43%;
    display: flex;

    .avatar-wrapper{
        border-radius: 50%;
        border: 5px solid white;
        width: 168px;
        cursor: pointer;
        height: 168px;
        position: relative;

        .avatar-image{
            background-color: #bdbdbd;
            border-radius: 50%;

        }
    }
    .avatar-edit-button{
        position: absolute;
        right: 20%;
        top: 75%;
        background-color: #9e9e9eab;
        -webkit-transform: translateX(50%);
        border-radius: 50%;
        padding: 12px;
        .icon-small{
        }
    }
}