.edit-button{
    display: flex;
    gap: 10px;
    justify-content: center;
    position: absolute;
    right: 8%;
    bottom: 23%;
    padding: 8px 16px;
    font-weight: bold;
    text-transform: none;
    background-color: hsla(0, 0%, 100%, .8);
    color: rgb(63, 81, 181);
    border-radius: 5px;
    align-items: center;
    font-size: 14px;

    &:hover{
        background-color: hsla(0, 0%, 100%, .5);
    }
}