.profile-card{
    padding-bottom: 20px;

}

.user-info{
    align-items: center;
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    text-align: center;
}