.MiniCourseCard {
    &__main {
        display: flex;
        gap: 12px;
        font-size: 1.4rem;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 12px;
        & h3 {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 8px;
        }
    }
    &__img {
        width: 25%;
        border-radius: 8px;
        overflow: hidden;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
html{
    overflow-y: auto;
}