@import 'normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Nunito:wght@200..1000&family=Open+Sans:wght@300..800&family=Roboto:wght@100..900&display=swap');

// @import "tailwindcss";
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #ccc;
}

* {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    margin: 0;
    background-color: rgb(241, 242, 245);
}
