@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import "tailwindcss";

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #ccc;
}

* {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6rem; // 16px  20rem = 200px
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    margin: 0;
    background-color: rgb(241, 242, 245);
}



